[submodule "3ds/external/entt"]
	path = 3ds/external/entt
	url = https://github.com/skypjack/entt.git
	shallow = true
[submodule "3ds/external/glm"]
	path = 3ds/external/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "3ds/external/luajit"]
	path = 3ds/external/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
	shallow = true
